@import url("index.css");
@import url("about.css");
section div{
    /* border: 1px solid #000; */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-image: url('images/contact.jpg');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}